__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.git/
.gitignore
frontend/
tests/
.pytest_cache/
*.log
storage/uploads/*
!storage/uploads/.gitkeep
storage/gradcam/*
!storage/gradcam/.gitkeep
